In [27]:
import pandas as pd

In [28]:
import numpy as np

In [29]:
df=pd.read_csv("https://raw.githubusercontent.com/mayank8200/Car-Price-Prediction/master/car_data.csv")

In [30]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [32]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [33]:
df["transmission"].value_counts()

Manual       3892
Automatic     448
Name: transmission, dtype: int64

In [34]:
df["seller_type"].value_counts()

Individual          3244
Dealer               994
Trustmark Dealer     102
Name: seller_type, dtype: int64

In [35]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [36]:
x=df.iloc[:,[1,3,4,5,6]].values
y=df.iloc[:,2].values

In [37]:
x

array([[2007, 70000, 'Petrol', 'Individual', 'Manual'],
       [2007, 50000, 'Petrol', 'Individual', 'Manual'],
       [2012, 100000, 'Diesel', 'Individual', 'Manual'],
       ...,
       [2009, 83000, 'Petrol', 'Individual', 'Manual'],
       [2016, 90000, 'Diesel', 'Individual', 'Manual'],
       [2016, 40000, 'Petrol', 'Individual', 'Manual']], dtype=object)

In [38]:
pd.DataFrame(x)

         0       1       2           3       4
0     2007   70000  Petrol  Individual  Manual
1     2007   50000  Petrol  Individual  Manual
2     2012  100000  Diesel  Individual  Manual
3     2017   46000  Petrol  Individual  Manual
4     2014  141000  Diesel  Individual  Manual
...    ...     ...     ...         ...     ...
4335  2014   80000  Diesel  Individual  Manual
4336  2014   80000  Diesel  Individual  Manual
4337  2009   83000  Petrol  Individual  Manual
4338  2016   90000  Diesel  Individual  Manual
4339  2016   40000  Petrol  Individual  Manual

[4340 rows x 5 columns]

In [39]:
import sklearn
from sklearn.preprocessing import LabelEncoder
lab=LabelEncoder()
x[:,2]=lab.fit_transform(x[:,2])

In [40]:
lab1=LabelEncoder()
x[:,3]=lab1.fit_transform(x[:,3])

In [41]:
lab2=LabelEncoder()
x[:,4]=lab2.fit_transform(x[:,4])

In [42]:
x.shape

(4340, 5)

In [43]:
x

array([[2007, 70000, 4, 1, 1],
       [2007, 50000, 4, 1, 1],
       [2012, 100000, 1, 1, 1],
       ...,
       [2009, 83000, 4, 1, 1],
       [2016, 90000, 1, 1, 1],
       [2016, 40000, 4, 1, 1]], dtype=object)

In [44]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [45]:
from sklearn.ensemble import RandomForestRegressor
reg=RandomForestRegressor(n_estimators=15000,random_state=25)
reg.fit(x_train,y_train)

RandomForestRegressor(n_estimators=15000, random_state=25)

In [46]:
acc=reg.score(x_test,y_test)

In [47]:
acc

0.6644988915463972

In [48]:
new_data=[2007, 70000, 'Petrol', 'Trustmark Dealer', 'Manual']

In [49]:
new_data[2]=lab.transform([new_data[2]])[0]
new_data[3]=lab1.transform([new_data[3]])[0]
new_data[4]=lab2.transform([new_data[4]])[0]

In [50]:
new_data

[2007, 70000, 4, 2, 1]

In [51]:
result=reg.predict([new_data])
print("The Predicted Car Price is : ", result[0])

The Predicted Car Price is :  101282.09666585083

In [52]:
import pickle 
pickle.dump(reg,open('regressor.pkl','wb'))

In [53]:
pickle.dump(lab,open('lab','wb'))

In [54]:
pickle.dump(lab1,open('lab1','wb'))

In [55]:
pickle.dump(lab2,open('lab2','wb'))